{% extends 'cars/layout.html' %}
{% load static %}
{% block body %}
<head>
    <meta name="viewport" content="width-device-width, intial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Ethiopian Airlines</title>
    <link href="{% static 'cars/home.css' %}" rel="stylesheet"></a>
    <style>
       h1{
            background-image: url('{% static "flight/ho.jpg" %}');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;

        }
    </style>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="#contact">Contact Me</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#Portifolio">Portifolio</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#header">Home</a></li>
        </ul>
    </div>
</body>
{% endblock %}