{% extends 'cars/layout.html'}
{% load static %}
{% block body %}
<head>
    <meta name="viewport" content="width-device-width, intial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Ethiopian Airlines</title>
    <link href="{% static 'flight/home.css' %}" rel="stylesheet"></a>
    <style>
       h1{
            background-image: url('{% static "flight/ho.jpg" %}');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;

        }
    </style>
</head>
<body>
    <div class="navbar">
        <ul>cars</ul>
        <ul>about</ul>
        <ul>services</ul>
        <ul>contact</ul>
    </div>
</body>
{% endblock %}