*{
    margin: 0%;
    padding: 0%;
}
/* styling listed items*/
.navbar {
    margin-bottom: 0%;
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
    direction: rtl;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    color:black;
    
}
.navbar ul li a{
    text-align: none;
    color: #fff;
    text-transform: uppercase;
    color:#fff;

}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}

.navbar ul li:hover::after {
    width: 100%;
}